/* ul{
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
} */
/* h2{
  font-size: 23px;
} */
/* .justify-around { justify-content: space-around; } */
#myLoca{
  margin-left: 570px;
  font-size: 30px;
}